body * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../pic/5907_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}
.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    background-color: violet;
    border-radius: 1.5rem;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.058);
}
header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    width: 20%
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    font-size: 1.2rem;
}
.navbar a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    transition: all 3s;

}
.navbar a:hover{
    background-color: #FEFEFE;
    color: black;
    font-weight: none;
    border-radius: 1.5rem;
    padding: 0.6rem;
    transition: all 3s;
    
}
main{
    width: 100%;
    height: 70%;
}
.main-header{
    width: 100%;
    height: 90%;
}
.color{
    color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.h1{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    gap:0.3rem;
    width: 50%;
    height: 100%;
}
h1{
    font-size: 3rem;
}
.btn{
    padding: 1rem;
    border-radius: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 3px white;
    text-transform: capitalize;
    background-color: transparent;
    transition: all 3s;
}
.btn:hover{
    color: black;
    background-color: #FFFFFF;
    transition: all 3s;
}
@media(max-width:57rem){
    .container{
        width:47rem ;
    }

}
@media (max-width: 40rem) {
    .container {
        width: 27rem;
        .h1 {
            font-size: 1rem;
            .navbar {
                width: 3rem;
                font-size: 1rem;
                margin-left: 0px;
            }
        }
    }
}

@media (max-width: 37rem) {
    .container {
        width: 20rem;
        padding: 1rem;
    }
    
    .container .h1 h1 {
        font-size: 2rem;
    }
    
    .container .navbar a {
        font-size: 1rem;
    }
}






